<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      <h1>Curriculum Vitae</h1>
      <h3>Education</h3>
      
      <h4>Oberlin College (August 2019 - May 2023)</h4>
      <p class="paragraph">
      I anticipate receiving a <strong>B.A.</strong> degree with a major in <strong>Mathematics</strong>, <strong>East Asian Studies</strong>, and <strong>History</strong> as well as a minor in <strong>Computer Science</strong> from <strong>Oberlin College</strong> in May 2023. At Oberlin College I am also working on research with Dr. Tamika Nunley through the History Department on female African American intellectual graduates of Oberlin College. I hope that my studies at Oberlin will prepare me for a future researching and teaching in academia.
      </p>
      <h4>Bowling Green State University (May 2020 - August 2021)</h4>
      <p class="paragraph">During the summers of 2020 and 2021 I attended the <strong>Bowling Green State University</strong> Summer Session to take classes to supplement my learning at Oberlin College, earning 18 credit hours. At Bowling Green State University I also did research with Dr. Melissa Miller and Dr. Shannon Orr through both the Political Science Department and Women's, Gender and Sexuality Studies Department on trailblazing women in Ohio politics. </p>

      <h4>Perrysburg High School (August 2015 - May 2019)</h4>

      <p class="paragraph">
      I graduated from <strong>Perrysburg High School</strong>, a public high school in Perrysburg, Ohio, in 2019 with summa cum laude recognition and as a member of National Honor Society. At Perrysburg High School, I began Chinese language studies which are still a significant interest of mine.
      </p>
      <h3>Awards</h3>

      <h4>Oberlin College (August 2019 - May 2023)</h4>

      <p style="padding-bottom: 1.625rem;" class="paragraph">In 2019, I was awarded the <strong>John Frederick Oberlin Scholarship</strong> to pursue undergraduate studies at Oberlin College. </p>

      <p class="paragraph">In 2021, I made the NCAC (North Coast Athletic Conference) <strong>Honor Roll</strong>. In 2021 I also was named an ITA (Intercollegiate Tennis Association) <strong>All-Academic Scholar</strong>.</p>

      <h3>Skills</h3>

      <h4>Programming Languages</h4>

      <!-- <h6>Machine Learning and Deep Learning</h6> <p class="paragraph">Statistical Methods and Optimization Methods.</p> overview of statistical models and algorithms used in machine learning for classification, prediction, clustering, hidden variable modeling, and sequence learning. Fundamentals of probability, Bayesian inference and decision theory, model selection, and stochastic optimization. Modeling approaches include directed and undirected graphs, parametric, nonparametric and semi-parametric mixture models, Hidden Markov Models, and selected non-probabilistic techniques such as Support Vector Machines and Neural Networks. Emphasis throughout is on probabilistic reasoning from data. -->
      <p class="paragraph">I often program in <strong>C</strong> and <strong>Python</strong>. I also have significant experience in <strong>Java</strong>, <strong>Bash Scripting</strong>, and <strong>PHP</strong> and have done a large project in each of these languages. </p>

      <h4>Office Suites</h4>
  
      <p class="paragraph">I am highly proficient in <strong>LaTeX</strong> and <strong>Markdown</strong>. My favorite text editors are <strong>Vim</strong> and <strong>Atom</strong>.</p>

      <h3>Supplements</h3>
 
      <p style="padding-bottom: 1.625rem;" class="paragraph">Please browse this website for more details about me, including a list my <a style="color: #343434; text-decoration: none; border-bottom: 1px dotted #b3b3b3;" href="/publications/">publications</a>.</p>

      <p class="paragraph">Also please visit my <a style="color: #343434; text-decoration: none; border-bottom: 1px dotted #b3b3b3;" href="https://github.com/nathanenglehart">GitHub</a> page for projects I have worked on.</p>
   


    
    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
